/node_modules/
*.DS_Store
/.idea/libraries/Generated_files.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/indexLayout.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/unity/unity.sln.DotSettings
/unity/unity.sln.DotSettings.user
/unity/ProjectSettings/AudioManager.asset
/unity/ProjectSettings/ClusterInputManager.asset
/unity/ProjectSettings/DynamicsManager.asset
/unity/ProjectSettings/EditorBuildSettings.asset
/unity/ProjectSettings/EditorSettings.asset
/unity/ProjectSettings/GraphicsSettings.asset
/unity/ProjectSettings/InputManager.asset
/unity/ProjectSettings/MemorySettings.asset
/unity/ProjectSettings/MultiplayerManager.asset
/unity/ProjectSettings/NavMeshAreas.asset
/unity/ProjectSettings/Physics2DSettings.asset
/unity/ProjectSettings/PresetManager.asset
/unity/ProjectSettings/ProjectSettings.asset
/unity/ProjectSettings/ProjectVersion.txt
/unity/ProjectSettings/QualitySettings.asset
/unity/ProjectSettings/TagManager.asset
/unity/ProjectSettings/TimeManager.asset
/unity/ProjectSettings/UnityConnectSettings.asset
/unity/ProjectSettings/VersionControlSettings.asset
/unity/ProjectSettings/VFXManager.asset
/unity/UserSettings/EditorUserSettings.asset
/unity/UserSettings/Search.settings
/unity/WellFired.Command.unitypackage
